{% extends 'base.html' %}
{% load static %}
{% block title %}
A01維護公司(品牌)資料
{% endblock title %}



{% block style2 %}
<link rel="stylesheet" href="{%	static 'css/noData_modal.css' %}">
<link rel="stylesheet" href="{%	static 'css/success_modal.css' %}">
<link rel="stylesheet" href="{%	static 'css/wrong_modal.css' %}">
<link rel="stylesheet" href="{% static 'css/crmForm.css' %}">
{% endblock style2 %}



{% block content %}

<div class="wrap">
    <div class="funcTitle ablock">
        A01.維護公司(品牌)資料
    </div>
    <form action="" method="POST"  novalidate="novalidate">
        {% csrf_token %}
        <div class="btnArea ablock">
            <button @click="intoCreate" type="button" id="intoCreate" name="intoCreate" class="intoCreate funcbtn" v-if="onquery">進入新增模式</button>
            <button @click="examine_front_end_col" type="submit" id="create" name="create" class="create funcbtn" v-if="! onquery">新增</button>
            <button type="submit" id="query"  name="query" class="query funcbtn">查詢</button>
            <button @click="update" type="button" id="update" name="update" class="update funcbtn" v-if="onquery">修改</button>
            <button  @click="del"  type="button" id="delete" name="delete" class="delete funcbtn" v-if="onquery">刪除</button>

        </div>
        <div class="formArea ablock">
            {% for field in form %}
            <span class="field">
                <span id="{{ field.auto_id }}_label" class="input_label">{{field.label}}</span>
                <span class="input_field field1">{{field}}</span>
                <span id="{{ field.auto_id }}_err" class="errMsg"></span>
            </span>

            {% endfor %}

        </div>


    </form>

</div>


<script src="{% static 'js/examine_col.js' %}"></script>
<script>
    var cpnyid = new FieldExamine("id_cpnyid","id_cpnyid_label",false,5,10,'id_cpnyid_err',[checkEngNumCombination]);
    var cocname = new FieldExamine("id_cocname","id_cocname_label",false,1,255,'id_cocname_err',[]);
    cpnyid.executeField();
    cocname.executeField();


</script>
<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


{% include 'share/success_modal.html' %}

{% include 'share/wrong_modal_vue.html' %}

{% include 'share/success_modal_vue.html' %}

{% if success	%}
	{% include 'share/show_success_msg.html' %}
{% endif %}




{% if wrong	%}
    {% include 'share/wrong_modal.html' %}
	{% include 'share/show_wrong_msg.html' %}
{% endif %}


{% include 'share/noData_modal.html' %}


{% include 'share/queryModal.html' %}

{% if queryModal %}

	{% include 'share/show_queryModal.html' %}
{% endif %}


{% include 'share/bootstrap_script.html' %}


<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>

<script>
    
    var vm_wrongModal = new Vue({
        el:"#wrongMsg_vue",
        delimiters: ['%%%', '%%%'],
        data:{
            wrongMsg:""
        }
    })

    var vm_successModal = new Vue({
        el:"#successMsg_vue",
        delimiters: ['%%%', '%%%'],
        data:{
            successMsg:"",
            isUpdate:true
        },
        methods:{
            redirectHomeFn(){
                if(!this.isUpdate){
                    window.location.href = '{%  url "basic_data:a01" %}';
                }
            }
        }
    })


    var vm_btnArea = new Vue({
        el:".btnArea",
        delimiters: ['%%%', '%%%'],
        data:{
            onquery:false,
            wrongMsg:""
        },
        methods:{
            examine_front_end_col(e){
                var errs = document.querySelectorAll(".errMsg");
                for(var ele of errs){
                    if(ele.textContent.trim().length>0){
                        //console.log("check field");
                        e.preventDefault();
                    }
                }
                return true;
            },
            intoCreate(){
                window.location.href = '{% url "basic_data:a01" %}';
            },
            update(){
                // 1.找出所有欄位
                var fields = document.querySelectorAll(".field1 input");
                var pk_fields = {};
                var updateData = {};
                for(var field of fields){
                    if(field.classList.contains("pkField")){
                        pk_fields[field.name] = field.value;
                    }else{
                        pk_fields[field.name] = '';
                    }
                    updateData[field.name] = field.value;
                }
                //發送ajax請求時須加上下列這段程式碼來通過django的csrf_token驗證機制
                const csrftoken = getCookie('csrftoken');
                axios.defaults.headers.common["X-CSRFToken"]=csrftoken;

                axios.put('{%  url "basic_data:a01" %}',{
                //URL参數放在params屬性裏面
                    params: {
                        pk_fields:JSON.stringify(pk_fields),
                        updateData : JSON.stringify(updateData),
                
                    }
                })
                .then((response) => {
                    if(response.data["update"]==="success"){
                        //修改成功的提示訊息
                        vm_successModal.successMsg = '成功修改';
                        $('#successMsg_vue').modal('show');
                    }else{
                        //修改不成功的提示訊息
                        console.log(response.data["wrongMsg"]);
                        vm_wrongModal.wrongMsg = response.data["wrongMsg"];
                        $('#wrongMsg_vue').modal('show');
                        
                    }


                }

                )
                .catch((error) => console.log(error))
                            },

            del(){

               // 1.找出所有欄位
               var fields = document.querySelectorAll(".field1 input");
                var pk_fields = {};
                for(var field of fields){
                    if(field.classList.contains("pkField")){
                        pk_fields[field.name] = field.value;
                    }else{
                        pk_fields[field.name] = '';
                    }
                }
    
                

                //發送ajax請求時須加上下列這段程式碼來通過django的csrf_token驗證機制
                const csrftoken = getCookie('csrftoken');
                axios.defaults.headers.common["X-CSRFToken"]=csrftoken;

                axios.post('{%  url "basic_data:a01" %}',{
                //URL参數放在params屬性裏面
                    params: {
                        pk_fields:JSON.stringify(pk_fields),
                        delete:JSON.stringify({'delete':"delete"})
                    }
                })
                .then((response) => {
                    vm_successModal.successMsg="成功刪除";
                    $('#successMsg_vue').modal('show');
                    vm_successModal.isUpdate = false;
                    // window.setTimeout(function(){
                    // // Move to a new location or you can do something else
                    // window.location.href = '{%  url "basic_data:a01" %}';

                    // }, 1000);


                }).catch((error) => console.log(error))

            }
        

                        }
                    })


    var qbtn = document.querySelector("#qbtn"); // 查詢modal中的[查詢欄位]按鈕
    var resultbtn = document.querySelector("#resultbtn");// 查詢modal中的[結果顯示]按鈕
    var modalLowerBody = document.querySelector("#modalLowerBody");
    var resultModaltable = document.querySelector("#resultModaltable");
  
    var vm = new Vue({
        el:"#queryModal",
        delimiters: ['%%%', '%%%'],
        data:{
            responseData:[],
            showMsg:false,
            cls:{
                qbtn:{
                    gray:false,
                    highlight:true
                },
                resultbtn:{
                    gray:true,
                    highlight:false
                }
            },
            sty:{
                qbtn:{
                    display:"block"
                },
                resultbtn:{
                    display:"none"
                } 
            },
            qresultCount:"",
            data_index:0

        },
        methods:{
            queryFunc(){
                //queryFunc開始                        
                // 2.先將查詢的欄位輸入框的name屬性 作為 json物件的key , value屬性 作為 json物件的value屬性
                var input_field_list  = document.querySelectorAll('.qmodal_field input');
                var request_data = {};
                for(var i of input_field_list){
                    request_data[i.name]=i.value;
                }
                console.log(request_data);

                //發送ajax請求時須加上下列這段程式碼來通過django的csrf_token驗證機制
                 const csrftoken = getCookie('csrftoken');

                
            	//發送ajax請求時須加上上面這段程式碼來通過django的csrf_token驗證機制
                // $.ajax({

                //     url:"{% url 'basic_data:a01' %}",
                //     method:"POST",
                //     dataType:"json",
                //     headers: {'X-CSRFToken': csrftoken}, //在headers中要提供csrftoken，讓client發送請求時攜帶csrftoken資訊
                //     data:{
                //         requestData:JSON.stringify(request_data) ,
                //         querySubmit:'true'
                        
                //     },
                //     success:function(response){
                //         console.log(response);//打印成功請求後回傳的資料
                
                //         console.log("fron-end accpet data!");
                //         this.responseData = response;
                //         console.log(this.responseData);
                //     }


                //     })         
                
               axios.defaults.headers.common["X-CSRFToken"]=csrftoken;

                axios.post("{% url 'basic_data:a01' %}",
                    {
                        params:{
                            requestData:JSON.stringify(request_data) ,
                            querySubmit:'true'
                        }
                    }
                ).then(response => {
                    console.log("fron-end accpet data!");
                    console.log(response.data);
                    console.log(response.data[0]);
                    this.responseData=response.data;

                    var count = this.responseData.length;

                    //若有查詢的資料有結果，則做以下事情:
                    if(count>0){
                        // 1.將顯示結果的圖示亮起來，並顯示查詢到幾筆
                        this.qresultCount=count+'筆';
                        this.showResult();
                        vm_btnArea.onquery = true;

                        //2.將查出來的第一筆資料列代入form表單中
                        var data = this.responseData[0];
                        var input_field1s = document.querySelectorAll('.field1 > input');
                        for(var i of input_field1s){
                        var k= i.getAttribute('name');
                        var v = data[k];
                        if(v==null){
                                v='';
                            }
                        i.setAttribute('value',v);
                        }

                        //3 將input元素中class含有 pkField 設為只讀
                        var pkFields = document.querySelectorAll(".field1 input.pkField");
                        for(var i=0 ; i<pkFields.length;i++){
                            pkFields[i].setAttribute('disabled',"true");
                        }


                        //4.渲染完成後 >再默認選中第一列數據
                        this.$nextTick(function () {
                            var allTrs = document.querySelectorAll("#qmodal_result_table tr");
                            allTrs[1].classList.add('selected');

                            for(var i=0;i<allTrs.length;i++){
                                allTrs[i].setAttribute('dataRow',`${i}`);
                            }
                            
                            var errListMsgs = document.querySelectorAll(".errMsg");
                            for(var errMsg of errListMsgs){
                                errMsg.innerHTML='';
                            }

                        });


                    }else{
                        //如果查詢結果為0筆，則告知使用者查無資料
                        $('#queryModal').modal('hide');
                        $('#noDataMsg').modal('show');

                    }
                    

                }).catch(function(error){
                    console.log(error);
                })



                //queryFunc結束
            },
            moveModal(){
                //moveModal開始
                //modal移動
                var modal = document.querySelector('#modal');
	            modal.onmousedown= function(e){
                var diffx = e.pageX-this.offsetLeft;
                var diffy = e.pageY-this.offsetTop;

                document.onmousemove = function(e){
                    modal.style.left = (e.pageX-diffx)+'px';
                    modal.style.top = (e.pageY-diffy)+'px';

                }

                document.onmouseup = function(){
                    document.onmousemove = null;
                    document.onmouseup  = null;
                }

	            }
                //moveModal結束
            },
            queryCol(){
                // 點擊[查詢欄位]btn時，將[結果顯示]btn的按鈕顏色變灰
                //queryCol開始
                this.cls.qbtn.gray=false;
                this.cls.qbtn.highlight=true;
                this.cls.resultbtn.gray=true;
                this.cls.resultbtn.highlight=false;     
                // 點擊[查詢欄位]btn時，將查詢欄位區塊顯示
                this.sty.qbtn.display="block";
                this.sty.resultbtn.display="none";
                //queryCol結束
            },
            showResult(){
                //showResult開始
                // 點擊[結果顯示]btn時，將[查詢欄位]btn的按鈕顏色變灰
                this.cls.resultbtn.gray=false;
                this.cls.resultbtn.highlight=true;
                this.cls.qbtn.gray=true;
                this.cls.qbtn.highlight=false;  
                // 點擊[結果顯示]btn時，將結果顯示區塊顯示
                this.sty.qbtn.display="none";
                this.sty.resultbtn.display="block";
                //showResult結束
            },
            showQuery(e){
                //在QueryModal查詢出來資料列中，每點選一列就動態更新form表單的資料
                var data = this.responseData[e.target.parentNode.getAttribute('dataRow')-1];
                var input_field1s = document.querySelectorAll('.field1 > input');
                for(var i of input_field1s){
                   var k= i.getAttribute('name');
                   var v = data[k];
                   if(v==null){
                     v='';
                   }
                   i.setAttribute('value',v);
                }


            }
        }
    })




</script>

<script>
    // modal表格> USER 只能單選一列的資料內容
      modal_table_selected("#qmodal_result_table","selected","title_row");
</script>
{% endblock content %}