{% extends 'fnBased.html' %}
{% load static %}


{% block title %}
A03維護分店基本資料
{% endblock title %}


{% block functitle %}
A03維護分店基本資料
{% endblock functitle %}


{% block field_examine %}

var shop_id = new FieldExamine("id_shop_id","id_shop_id_label",false,true,1,20,'id_shop_id_err',[checkEngNumCombination]);
var shop_name = new FieldExamine("id_shop_name","id_shop_name_label",false,true,1,255,'id_shop_name_err',[]);
var cpnyid = new FieldExamine("id_cpnyid","id_cpnyid_label",false,false,0,0,'id_cpnyid_err',[]);
var shop_kind = new FieldExamine("id_shop_kind","id_shop_kind_label",false,false,0,0,'id_shop_kind_err',[]);
var shop_chief = new FieldExamine("id_shop_chief","id_shop_chief_label",false,true,1,50,'id_shop_chief_err',[checkEngNumCombination]);

shop_id.executeField();
shop_name.executeField();
cpnyid.executeField();
shop_kind.executeField();
shop_chief.executeField();

{% endblock field_examine %}

{% block redirecHomeURL %}
'{%  url "basic_data:a03" %}'
{% endblock redirecHomeURL %}



{% block intoCreateURL %}
'{%  url "basic_data:a03" %}'
{% endblock intoCreateURL %}

{% block putURL %}
'{%  url "basic_data:a03" %}'
{% endblock putURL %}

{% block postURL %}
'{%  url "basic_data:a03" %}'
{% endblock postURL %}

{% block qPostURL %}
'{%  url "basic_data:a03" %}'
{% endblock qPostURL %}

<!-- 針對a03查詢資料後，如何讓地區正確的顯示在欄位上進行操作 -->
{% block do_other_showQuery_thing %}
    fieldChangeLinkage(data,"county_id","post_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");

{% endblock do_other_showQuery_thing %}

{% block do_other_queryFunc_nextTick_thing %}
    fieldChangeLinkage(data,"county_id","post_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");

{% endblock do_other_queryFunc_nextTick_thing %}


{% block do_other_queryModal_script_thing %}
<!-- 當開啟querymodal時，針對[營業狀態]與[停業日期起訖]連動關係進行操作  -->
<script>
    var shop_disable_q = document.querySelector(".qmodal_field > #id_shop_disable");
    var shop_disable_sdate = document.querySelector(".qmodal_field > #id_shop_disable_date_sdate");
    var shop_disable_edate = document.querySelector(".qmodal_field > #id_shop_disable_date_edate");
    var shop_disable_date_err =  document.querySelector("#id_shop_disable_date_edate_err");

    shop_disable_q.addEventListener("change",function(){
        if(this.value==='0')
        {
            shop_disable_sdate.disabled=false;
            shop_disable_edate.disabled=false;
        }else
        {
            shop_disable_sdate.disabled=true;
            shop_disable_edate.disabled=true;
            shop_disable_sdate.value="";
            shop_disable_edate.value="";
            shop_disable_date_err.innerHTML="";
        }
    })

</script>

{% endblock do_other_queryModal_script_thing %}

{% block do_other_queryFunc_thing %}
// 針對[停業日期起][停業日期訖]輸入的規則進行操作
var ok = true;
var c1 = dateIntervalExamine(".qmodal_field > #id_shop_disable_date_sdate",".qmodal_field > #id_shop_disable_date_edate","#id_shop_disable_date_edate_err","停業日期");
if(!c1)
{
    ok= false;
}

if(!ok)
{
    this.exec_queryFunc = false;
}else
{   
    this.exec_queryFunc = true;
}

{% endblock do_other_queryFunc_thing %}

{% block other_content %}
<!-- 針對縣市/鄉鎮連動關係操作 -->
<script>
    selectFieldChangeLinkage("id_county_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");
</script>
<script>


// 針對 營業狀態 與 停業日期 連動關係進行操作
// 當 營業狀態 > 營業中 > 停業日期欄位不提供輸入 ， 營業狀態 > 停業 > 停業日期欄位提供輸入

var shop_disable = document.querySelector("#id_shop_disable");
var shop_disable_date =  document.querySelector("#id_shop_disable_date");
shop_disable.addEventListener('change',function(e){
    console.log(`shop_disable : ${this.value}`);
   if(this.value=='0'){
    // 如果 營業狀態 切到停業  停業日期欄位提供輸入 
    shop_disable_date.disabled=false;
   }else{
     // 如果 營業狀態 切到營業中 停業日期欄位不提供輸入，且需清空停業日期的值
    shop_disable_date.disabled=true;
    shop_disable_date.value = "";
   }
})

</script>
{% endblock other_content %}


