{% extends 'fnBased.html' %}
{% load static %}


{% block title %}
A07維護會員基本資料
{% endblock title %}


{% block functitle %}
A07維護會員基本資料
{% endblock functitle %}


{% block field_examine %}

var vip_id = new FieldExamine("id_vip_id","id_vip_id_label",false,true,1,20,'id_vip_id_err',[checkEngNumCombination]);
var cpnyid = new FieldExamine("id_cpnyid","id_cpnyid_label",false,false,0,0,'id_cpnyid_err',[]);
var shop_id = new FieldExamine("id_shop_id","id_shop_id_label",false,false,0,0,'id_shop_id_err',[]);
var vip_name = new FieldExamine("id_vip_name","id_vip_name_label",false,true,1,50,'id_vip_name_err',[]);

vip_id.executeField();
cpnyid.executeField();
shop_id.executeField();
vip_name.executeField();


{% endblock field_examine %}

{% block redirecHomeURL %}
'{%  url "basic_data:a07" %}'
{% endblock redirecHomeURL %}



{% block intoCreateURL %}
'{%  url "basic_data:a07" %}'
{% endblock intoCreateURL %}

{% block putURL %}
'{%  url "basic_data:a07" %}'
{% endblock putURL %}

{% block postURL %}
'{%  url "basic_data:a07" %}'
{% endblock postURL %}

{% block qPostURL %}
'{%  url "basic_data:a07" %}'
{% endblock qPostURL %}

<!-- 針對a07查詢資料後，如何讓地區正確的顯示在欄位上進行操作 -->
{% block do_other_showQuery_thing %}
    fieldChangeLinkage(data,"county_id","post_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");
    fieldChangeLinkage(data,"cpnyid","shop_id","#id_shop_id","{% url 'basic_data:cpnyid_shop' %}","shop_id","shop_name");

{% endblock do_other_showQuery_thing %}

{% block do_other_queryFunc_nextTick_thing %}
    fieldChangeLinkage(data,"county_id","post_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");
    fieldChangeLinkage(data,"cpnyid","shop_id","#id_shop_id","{% url 'basic_data:cpnyid_shop' %}","shop_id","shop_name");

{% endblock do_other_queryFunc_nextTick_thing %}


{% block do_other_queryModal_script_thing %}

{% endblock do_other_queryModal_script_thing %}

{% block do_other_queryFunc_thing %}
//查詢框欄位檢核
// 針對[出生日期起][出生日期訖]輸入的規則進行操作
// 針對[申請日期起][申請日期訖]輸入的規則進行操作
// 針對[到職日期起][有效日期訖]輸入的規則進行操作
var ok = true;
var c1 = dateIntervalExamine(".qmodal_field > #id_birthday_sdate",".qmodal_field > #id_birthday_edate","#id_birthday_edate_err","出生日期");
var c2 = dateIntervalExamine(".qmodal_field > #id_apply_date_sdate",".qmodal_field > #id_apply_date_edate","#id_apply_date_edate_err","申請日期");
var c3 = dateIntervalExamine(".qmodal_field > #id_end_date_sdate",".qmodal_field > #id_end_date_edate","#id_end_date_edate_err","有效日期");


if(!c1 || !c2 || !c3)
{
    ok= false;
}

if(!ok)
{
    this.exec_queryFunc = false;
}else
{   
    this.exec_queryFunc = true;
}
{% endblock do_other_queryFunc_thing %}

{% block other_content %}

    <!-- 針對縣市/鄉鎮連動關係操作 -->
<!-- 針對縣市/鄉鎮連動關係操作 -->
<script>
    selectFieldChangeLinkage("id_county_id","#id_post_id","{% url 'basic_data:county_area' %}","post_id","post_name");
    selectFieldChangeLinkage("id_cpnyid","#id_shop_id","{% url 'basic_data:cpnyid_shop' %}","shop_id","shop_name","id_shop_id_err");
    selectFieldChangeLinkage("id_cpnyid","#id_vipinfo_group_id","{% url 'basic_data:cpny_vipgrp' %}","vipinfo_group_id","vipinfo_group_name");

</script>

    
{% endblock other_content %}


