
<div id="queryModal" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog qmodal-dialog" role="document">
	
		<div @mousedown="moveModal" class="modal-content qmodal" id="modal">
			 <!-- Modal Header -->
			<div class="modal-header">		
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
			  <div id="t1">
					<!-- <div @click="queryCol" id="qbtn" class="queryfuncBlock highlight ">查詢欄位</div> -->
					<div @click="queryCol" id="qbtn" class="queryfuncBlock" :class="cls.qbtn">查詢欄位</div>
					<div @click="showResult" id="resultbtn" class="queryfuncBlock" :class="cls.resultbtn">結果顯示<span id="qrscount"> %%%qresultCount%%%</span></div>
			  </div> 

			</div>			
			
			<div id="lowerBody">
				<!-- 查詢時顯示的欄位選項 -->
				<div :style="sty.qbtn" id="modalLowerBody">
					<div class="modal-body formArea" >
						{% for field in qform  %}
							<span class="field">
								<span id="{{ field.auto_id }}_label" class="input_label qmodal_label">{{field.label}}</span>
								<span class="input_field qmodal_field">{{field}}</span>
								<span id="{{ field.auto_id }}_err" class="errMsg"></span>
							</span>
						{% endfor %}
	
	
					</div>
					
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					  <button @click="queryFunc" name="querySubmit" id="querySubmit" type="button" class="btn btn-primary">送出</button>
					</div>
				</div>


				<!-- 結果顯示區域 -->
				<div :style="sty.resultbtn" id="resultModaltable">

					<table id="qmodal_result_table">
						<tr class="title_row">
							{% for field in rform  %}
								<!-- <td>
									{{field.label}}
								</td> -->
								<td>
									{{field}}
								</td>
							{% endfor %}
						</tr>
						<tr  v-for="(item, index) in responseData">
							<td @click="showQuery" v-for="(item1,key,index1) in item" :name="key">
								%%%item1%%%
							</td>
						</tr>
					</table>
				</div>

				

			</div>



		  </div>


	</div>
  </div>